1. Crear y visualizar un arreglo unidimensional como una estructura Series.

In [21]:
import pandas as pd

# Crear un arreglo unidimensional (lista) de datos
datos = [10, 20, 30, 40, 50]

# Crear la Serie con pandas
serie = pd.Series(datos)

# Visualizar la Serie
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

2. Convertir un objeto Series a una lista Python.

In [1]:
import pandas as pd

# Crear un arreglo unidimensional (lista) de datos
datos = [10, 20, 30, 40, 50]

# Crear la Serie con pandas
serie = pd.Series(datos)

# Convertir la Serie a una lista
lista = serie.tolist()

# Visualizar la lista
print(lista)

[10, 20, 30, 40, 50]

3. Aplicar las operaciones aritméticas básicas (suma, resta, multiplicación y división) sobre objetos Series.

In [3]:
import pandas as pd

# Crear dos Series de ejemplo
serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([5, 10, 15, 20, 25])

# Suma
suma = serie1 + serie2
print("Suma:")
print(suma)

# Resta
resta = serie1 - serie2
print("\nResta:")
print(resta)

# Multiplicación
multiplicacion = serie1 * serie2
print("\nMultiplicación:")
print(multiplicacion)

# División
division = serie1 / serie2
print("\nDivisión:")
print(division)

Suma:
0    15
1    30
2    45
3    60
4    75
dtype: int64

Resta:
0     5
1    10
2    15
3    20
4    25
dtype: int64

Multiplicación:
0      50
1     200
2     450
3     800
4    1250
dtype: int64

División:
0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
dtype: float64

4. Usar operadores relacionales para comparar objetos Series.

In [4]:
import pandas as pd

# Crear dos Series de ejemplo
serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([25, 20, 15, 40, 60])

# Comparaciones
mayor = serie1 > serie2          # Mayor que
menor = serie1 < serie2          # Menor que
igual = serie1 == serie2         # Igual que
mayor_igual = serie1 >= serie2   # Mayor o igual que
menor_igual = serie1 <= serie2   # Menor o igual que

# Imprimir resultados
print("Mayor que:")
print(mayor)

print("\nMenor que:")
print(menor)

print("\nIgual que:")
print(igual)

print("\nMayor o igual que:")
print(mayor_igual)

print("\nMenor o igual que:")
print(menor_igual)

Mayor que:
0    False
1    False
2     True
3    False
4    False
dtype: bool

Menor que:
0     True
1    False
2    False
3    False
4     True
dtype: bool

Igual que:
0    False
1     True
2    False
3     True
4    False
dtype: bool

Mayor o igual que:
0    False
1     True
2     True
3     True
4    False
dtype: bool

Menor o igual que:
0     True
1     True
2    False
3     True
4     True
dtype: bool

5. Convertir un diccionario Python en un objeto Series.

In [5]:
import pandas as pd

# Crear un diccionario de ejemplo
diccionario = {
    'a': 10,
    'b': 20,
    'c': 30,
    'd': 40,
    'e': 50
}

# Convertir el diccionario a una Serie
serie = pd.Series(diccionario)

# Visualizar la Serie
print(serie)

a    10
b    20
c    30
d    40
e    50
dtype: int64

6. Convertir un arreglo NumPy en un objeto Series.

In [10]:
import pandas as pd
import numpy as np

# Crear un arreglo NumPy de ejemplo
arreglo_numpy = np.array([10, 20, 30, 40, 50])

# Convertir el arreglo NumPy a una Serie
serie = pd.Series(arreglo_numpy)

# Visualizar la Serie
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Cambiar el tipo de datos de un objeto Series.

In [11]:
import pandas as pd

# Crear una Serie de ejemplo con tipo de datos entero
serie = pd.Series([1, 2, 3, 4, 5])

# Mostrar tipo de datos original
print("Tipo de datos original:")
print(serie.dtypes)

# Cambiar el tipo de datos a float
serie_float = serie.astype(float)
print("\nSerie convertida a float:")
print(serie_float)
print("Tipo de datos convertido:")
print(serie_float.dtypes)

Tipo de datos original:
int64

Serie convertida a float:
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
Tipo de datos convertido:
float64

8. Convertir un objeto Series con múltiples listas en un único objeto Series.

In [12]:
import pandas as pd

# Crear una Serie de ejemplo con listas
lista = [
    ['Colombia', 'Perú', 'Argentina'],
    ['Bolivia', 'Uruguay'],
    ['Chile']
]

serie = pd.Series(lista)

# Visualizar la Serie original
print("Serie original:")
print(serie)

# Usar explode() para convertir la Serie de listas en una Serie de elementos individuales
serie_exploded = serie.explode()

# Visualizar la Serie resultante
print("\nSerie resultante después de explode():")
print(serie_exploded)

Serie original:
0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

Serie resultante después de explode():
0     Colombia
0         Perú
0    Argentina
1      Bolivia
1      Uruguay
2        Chile
dtype: object

9. Ordenar los valores de un objeto Series con el método sort_values.

In [13]:
import pandas as pd

# Crear una Serie de ejemplo
serie = pd.Series([5, 3, 8, 1, 4])

# Visualizar la Serie original
print("Serie original:")
print(serie)

# Ordenar los valores en orden ascendente
serie_ordenada_asc = serie.sort_values()
print("\nSerie ordenada en orden ascendente:")
print(serie_ordenada_asc)

# Ordenar los valores en orden descendente
serie_ordenada_desc = serie.sort_values(ascending=False)
print("\nSerie ordenada en orden descendente:")
print(serie_ordenada_desc)

Serie original:
0    5
1    3
2    8
3    1
4    4
dtype: int64

Serie ordenada en orden ascendente:
3    1
1    3
4    4
0    5
2    8
dtype: int64

Serie ordenada en orden descendente:
2    8
0    5
4    4
1    3
3    1
dtype: int64

10. Agregar datos a un objeto Series existente.

In [18]:
import pandas as pd

# Crear una Serie de ejemplo
serie_original = pd.Series([1, 2, 3])

# Crear otra Serie para agregar
serie_nueva = pd.Series([4, 5, 6])

# Agregar datos usando pd.concat()
serie_actualizada = pd.concat([serie_original, serie_nueva], ignore_index=True)

# Visualizar la Serie actualizada
print("Serie después de usar pd.concat():")
print(serie_actualizada)

Serie después de usar pd.concat():
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

11. Crea un objeto Series a partir de un filtro aplicado a otro objeto Series.

In [19]:
import pandas as pd

# Crear una Serie de ejemplo
serie_original = pd.Series([10, 20, 15, 25, 30, 5, 0])

# Mostrar la Serie original
print("Serie original:")
print(serie_original)

# Aplicar un filtro: seleccionar valores mayores que 15
filtro = serie_original > 15

# Crear una nueva Serie a partir del filtro
serie_filtrada = serie_original[filtro]

# Visualizar la nueva Serie filtrada
print("\nSerie filtrada (valores mayores que 15):")
print(serie_filtrada)

Serie original:
0    10
1    20
2    15
3    25
4    30
5     5
6     0
dtype: int64

Serie filtrada (valores mayores que 15):
1    20
3    25
4    30
dtype: int64

12. Cambiar el orden del índice de un objeto Series.

In [20]:
import pandas as pd

# Crear una Serie de ejemplo con un índice específico
serie_original = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Mostrar la Serie original
print("Serie original:")
print(serie_original)

# Cambiar el orden del índice usando reindex()
nuevo_orden = ['d', 'c', 'b', 'a']  # Definir el nuevo orden de los índices
serie_reindexada = serie_original.reindex(nuevo_orden)

# Visualizar la Serie reindexada
print("\nSerie después de cambiar el orden del índice:")
print(serie_reindexada)

Serie original:
a    10
b    20
c    30
d    40
dtype: int64

Serie después de cambiar el orden del índice:
d    40
c    30
b    20
a    10
dtype: int64

13. Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [23]:
import pandas as pd

# Crear una Serie de ejemplo con datos numéricos
serie = pd.Series([10, 20, 30, 40, 50])

# Calcular el promedio (media)
promedio = serie.mean()

# Calcular la desviación estándar
desviacion_estandar = serie.std()

# Mostrar los resultados
print("Serie:")
print(serie)
print("\nPromedio (media):", promedio)
print("Desviación estándar:", desviacion_estandar)

Serie:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Promedio (media): 30.0
Desviación estándar: 15.811388300841896